<% @articles.each do |article| %>
  <p><%= link_to article.title, article_path(article) %></p>
  <p><%= article.content %></p>
  <p>Written by <%= article.author %> at <%= article.created_at %></p>
  <!-- Written by Thomas at 2018-02-23 -->
<% end %>

<%= link_to "New Article", new_article_path %>
