<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.content %>
</p>

<%= form_with model: [@article, Comment.new], local: true do |f| %>
  <%= f.hidden_field :article_id, value: @article.id %>
  <%= f.label :email %>
  <%= f.email_field :email, id: 'comment_email' %>
  <%= f.label :body, value: 'Comment' %>
  <%= f.text_field :body, id: 'comment_body_comment' %>
  <%= f.submit %>
<% end %>

<% @article.comments.each do |comment| %>
  <p><%= comment.body %></p>
  <small>Submitted by:
    <% if comment.email != ''%>
      <%= comment.email %>
    <% else %>
      "Anonymous"
    <% end %>
  </small>
<% end %>
